
.header-container {
    position: relative;
    width: 100%;
    display: inline-block;
    line-height: 64px;
    height: 64px;
    .header-title {
        display: inline-block;
        width: 76%;
        .header-title-text {
            position: relative;
            left: 55%;
            font-size: 22px;
            font-weight: 500;
        }
    }
    .header-count {
        display: inline-block;
        width: 24%;
        text-align: right;
        padding-right: 41px;
    }
}