table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .example-form {
    min-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
